{% extends "base.html" %}

{% block content %}
<div class="h-screen w-screen flex items-center">
    <div class="mx-auto w-96">
        <div class="py-4 px-16 border rounded-xl bg-base-200">
            <form id="signin" method="POST">
                {% csrf_token %}
                <h3 class="text-center text-2xl font-semibold">Sign In</h3>

                <div class="mt-4">
                    {{ form.login.label_tag }}
                    {{ form.login }}
                    <small>
                        {{ form.login.help_text }}
                    </small>
                    {{ form.login.errors }}
                </div>
                <div class="mt-4">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    <small>
                        {{ form.password.help_text }}
                    </small>
                    {{ form.password.errors }}
                </div>

                {% if form.errors %}
                    <div class="mt-4">
                        {{ form.non_field_errors  }}
                    </div>
                {% endif %}
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">
                        Sign In
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
